<h2>Choose your burger </h2>

<table class="burgers">

<% @burgers.each do |b| %>
  <tr>
    <td class="burger-name" id="burger-<%= b.id %>"><%= b.meat %> </td>
      <%- if b.grams.present? %>
        <td><%= b.grams %> gr. </td>
      <% else %>
        <td></td>
      <% end %>
    <td> € <%= b.price %> </td>
    <td> <button class="choose-burger-button">Choose</button> </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <%- if b.gluten == true %>
    <td>
      <img class="gluten-icon" src="http://res.cloudinary.com/dsiyhc1tt/image/upload/c_scale,w_128/v1479732878/gluten_lvzioj.png">
    <% end %>
    <%- if b.veg == true %>
      <img class="veg-icon" src="http://res.cloudinary.com/dsiyhc1tt/image/upload/c_scale,w_235/v1479732888/broccoli_skuja3.png">
    </td>
    <% end %>
  </tr>
<% end %>

</table>
