<img src="http://res.cloudinary.com/dwbu8qlck/image/upload/v1479991783/burgerborder_col9sl.jpg">

<h2>Burger</h2>
<br>

<h3>Table:</h3>
<ul id="table-number">
</ul>

<h3>Your burger</h3>

<%# @tables.each do |t| %>
<%#- if t.id == %>
<ul id="ordered-burgers-list">
</ul>

<br>
<ul id="order-list-burger">

</ul>

<h3>Your toppings </h3>
<br>
<ul id="order-list-toppings">

</ul>

<h3>Your extras </h3>
<br>
<ul id="order-list-sides">

</ul>

<h3>Your sauces </h3>
<br>
<ul id="order-list-sauces">

</ul>


<h3>Total</h3>
<br>
<ul class="total-price">
</ul>

<ul class="description">
</ul>

<button class="place-order">Add another burger</button>

<img src="http://res.cloudinary.com/dwbu8qlck/image/upload/v1479991783/burgerborder_col9sl.jpg">
