<img src="http://res.cloudinary.com/dwbu8qlck/image/upload/v1479991783/burgerborder_col9sl.jpg">

<div class="orderlist">
  <h2>BURGER</h2>
  <br>

   <h3 style="font-size: 18px">TABLE:</h3>
  <ul id="table-number">
  </ul>

  <%# @tables.each do |t| %>
  <%#- if t.id == %>
  <ul id="ordered-burgers-list">
  </ul>

  <br>
  <ul id="order-list-burger">

  </ul>

    <h3 style="font-size: 18px">TOPPINGS </h3>
  <br>
  <ul id="order-list-toppings">

  </ul>

     <h3 style="font-size: 18px">EXTRAS</h3>
  <br>
  <ul id="order-list-sides">

  </ul>

    <h3 style="font-size: 18px">SAUCES</h3>
  <br>
  <ul id="order-list-sauces">

  </ul>


    <h3 style="font-size: 18px">TOTAL</h3>
  <br>
  <ul class="total-price">
  </ul>

  <ul class="description">
  </ul>

  <button class="place-order">Add another burger</button><br><br>
  <button class="done-order-button">Order</button>

  <img src="http://res.cloudinary.com/dwbu8qlck/image/upload/v1479991783/burgerborder_col9sl.jpg">

</div>
