<h2>Burger</h2>
<br>

<!-- <h3>Table:</h3>
<ul id="table-number">
</ul> -->

<h3>Your burger</h3>
<br>
<ul id="order-list-burger">

</ul>

<h3>Your toppings </h3>
<br>
<ul id="order-list-toppings">

</ul>

<h3>Your extras </h3>
<br>
<ul id="order-list-sides">

</ul>

<h3>Your sauces </h3>
<br>
<ul id="order-list-sauces">

</ul>


<h3>Total</h3>
<br>
<ul class="total-price">
</ul>

<ul class="description">
</ul>

<button class="place-order">DONE</button>
