<h2>Squeeze-a-Sauce</h2>
<br>

<table class="sauces" align="center">

<% @sauces.each do |s| %>
  <tr>
    <td class="sauce-name" data-price='{"Price":"<%= s.price %>"}' id="sauce-<%= s.id %>"><%= s.name %></td>
    <td>€ <%= s.price %> </td>
    <td><input class="choose-sauce-checkbox" type="checkbox"></td>
  </tr>
<% end %>

</table>
