<select class="dropdownmenu">
  <option class="table-number" id="table-number-1">Choose a table</option>
  <% @tables.each do |t| %>
    <option class="table-number" id="table-number-<%= t.id %>"><%= t.tablenumber %></option>
  <% end %>
</select>
