
<div class="dropdown">
  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Choose table number
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">table 1</a></li>
    <li><a href="#">table 2</a></li>
    <li><a href="#">table 3</a></li>
    <li><a href="#">table 4</a></li>
    <li><a href="#">table 5</a></li>
    <li><a href="#">table 6</a></li>
    <li><a href="#">table 7</a></li>
    <li><a href="#">table 8</a></li>
    <li><a href="#">table 9</a></li>
    <li><a href="#">table 10</a></li>
  </ul>
</div>
