<select class="dropdownmenu" onchange="location = this.value;">
  <option class="table-number" id="table-number-1" selected="selected">Choose a table</option>
  <% @tables.each do |t| %>
    <option class="table-number" id="table-number-<%= t.id %>" data-id='{"Id":"<%= t.id %>"}' value="/burger"><%= t.tablenumber %></option>
  <% end %>
</select>
