<h2> Choose your toppings</h2>

<table class="toppings">

<% @toppings.each do |t| %>
  <tr>
    <td class="topping-name" id="<%= t.id %>"><%= t.name %> </td>
    <td>€ <%= t.price %> </td>
    <td><input class="choose-topping-button" type="checkbox"></td>
  </tr>
<% end %>

</table>
