<a href="/admin"> <img class="hipster-cook" src="http://res.cloudinary.com/dsiyhc1tt/image/upload/c_scale,e_negate,w_270/v1479830688/02fc635986b3030d9411d3ab7458bd68_shdqj8.png"></a>

<div class="top">
    <h1> Burger Bar </h1>
    <br>
    <%= render 'tableform' %>
</div>
<br><br>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://res.cloudinary.com/dwbu8qlck/image/upload/v1479934110/BurgerBar3_qpxhzo.jpg" alt="Burger">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <img src="http://res.cloudinary.com/dwbu8qlck/image/upload/c_scale,h_1571,w_451/a_90/v1479939528/Bacon-and-cheese-burgers-1_wmk1mv.jpg" alt="Burger">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <img src="http://res.cloudinary.com/dwbu8qlck/image/upload/c_scale,h_451,w_1571/v1479745524/smokehouse-burger_uq6xji.jpg" alt="Burger">
        <div class="carousel-caption">
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!-- go to admin page  with validation for logging in, so login path happens auto-->
