/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


.burgers-main {
}

body {
  background-image: url('http://res.cloudinary.com/dwbu8qlck/image/upload/v1479734422/blackboard_lq6z6l.jpg');
  color: #fff;
}
//
// http://res.cloudinary.com/dwbu8qlck/image/upload/v1479735787/black-1072366_1920_bdtz5q.jpg
 .banner {
   margin: 0px;
   padding: 10px;
   text-align: center;
   background: #2c4156;
 }


 .banner-title {
   padding: 10px;
   margin: 0px;
   text-align: center;
   color: #fff;
 }

 .flex-container {
  display: flex;
  width: 65%;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.flexchild {

  // width: 33%;
  // height: 400px;
}

  .order {
    position: absolute;
    top: 200px;
    right: 0;
    width: 400px;
  }



.gluten-icon {
  max-width: 20px;
  max-height: 20px;
}
.veg-icon {
  max-width: 20px;
  max-height: 20px;
}
