
body{
  color: red;

}


.sign-up {
  position:relative;
  top: 15%;
  left: 30%;
  width: 450px;
  height: 540px;
  text-align: center;
  color: #9E9D9B;
  background-image: url("http://res.cloudinary.com/dwbu8qlck/image/upload/v1479991562/border_hmn7qm.jpg");

}

.field {
  color:#9E9D9B;
}

.sign-in {
  position:relative;
  top: 15%;
  left: 30%;
  width: 450px;
  height: 540px;
  text-align: center;
  color: #9E9D9B;
  background-image: url("http://res.cloudinary.com/dwbu8qlck/image/upload/v1479991562/border_hmn7qm.jpg");

}
